:root {
   --color-midnight-blue: 230, 60%, 8%;
   --color-bright-cyan: 179, 80%, 58%;
   --color-blue-gray: 225, 14%, 53%;
   --color-white: 0, 0%, 100%;
   --color-dark-blue: 206, 84%, 22%;
   --color-razzmatazz: 343, 100%, 58%;
}