@use "../util" as u;

.wrapper {
   max-width: u.rem(1440);
   
   @include u.breakpoint-down(medium) {
      max-width: u.rem(768);
   }
   
   @include u.breakpoint-down(small) {
      max-width: u.rem(375);
   }
}

.flex {
   display: flex;
}

.grid {
   display: grid;
}

.d-block {
   display: block;
}